name: CI pipeline

on: push

jobs:
  project-testing:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Pull DVC data
        run: |
          dvc pull

      - name: Ensure output directories exist
        run: |
          mkdir -p models reports/figures

      - name: Run DVC pipeline
        run: |
          dvc repro